@model TesRoles.Models.GroupRoles

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupRoles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.roles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationGroup.ApplicationGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupRolesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
